<h1 style="text-align: center;"><a href="github.com/shivarajnaidu/ng-marquee/">ng-marquee</a></h1>

<ng-template #marqueeContent>
  <mark>Hello, World.... Find Me @ <a href="https://www.linkedin.com/in/shivarajnaidu/" target="__blank">
      https://www.linkedin.com/in/shivarajnaidu/ (Yuvaraj)</a></mark>
</ng-template>

<!-- Content With Any length -->
<section>
  <h2>Content With Any length</h2>
  <ng-marquee>
    <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
  </ng-marquee>
</section>

<!-- Stop On Hover -->
<section>
  <h2>Stop On Hover</h2>
  <ng-marquee [stopOnHover]="true">
    <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
  </ng-marquee>
</section>


<!-- Speed Adjustment -->
<section>
  <h2>Speed Adjustment</h2>

  <!-- Default -->
  <div>
    <h3>Default</h3>
    <ng-marquee>
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>

  <div>
    <h3>Drowsy</h3>
    <ng-marquee speed="drowsy">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>


  <div>
    <h3>Slow</h3>
    <ng-marquee speed="slow">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>

  <div>
    <h3>Normal</h3>
    <ng-marquee speed="normal">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>


  <div>
    <h3>Fast</h3>
    <ng-marquee speed="fast">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>

  <div>
    <h3>Swift</h3>
    <ng-marquee speed="swift">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>


  <div>
    <h3>Hyper</h3>
    <ng-marquee speed="hyper">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>

  <div>
    <h3>Custom</h3>
    <ng-marquee duration="90s">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>

</section>

<!-- Direction Change -->
<section>
  <h2>Direction Change</h2>

  <div>
    <h3>Left</h3>
    <ng-marquee direction="left">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>

  <div>
    <h3>Right</h3>
    <ng-marquee direction="right">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>

  <div>
    <h3>Alternate</h3>
    <ng-marquee direction="alternate">
      <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
    </ng-marquee>
  </div>
</section>